# Send builds to container-based infrastructure
# http://docs.travis-ci.com/user/workers/container-based-infrastructure/
sudo: false
language: ruby
before_install:
  # This is required since 2.6.8 has issue when installing `rainbow`
  # https://github.com/sickill/rainbow/issues/48
  - gem update --system
  - gem --version
  - gem install bundler
  - bundler -v
script:
  bundle exec rake
cache:
  - bundler
rvm:
  - 1.8.7-p374
  - 1.9.3-p551
  - 2.0.0-p648
  - 2.1.10
  - 2.2.6
  - 2.3.3
  - 2.4.0
  - ruby-head
matrix:
  fast_finish: true
  allow_failures:
    - rvm: ruby-head
